/* General */

/*colours: darkBlue #002d68 , yellow #e9ad1c , 
lightBlue #15d5f5 , black #000000 , white #ffffff ,
*/

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /*font-family: mythology_of_egypt, metamorphous, poppins;*/
}

h1,h2,h3, h4, h5, h6 { 
font-family: 'Poppins', sans-serif;
}

h2 {
    font-size: 40pt;
    font-weight: bold;
}

h3{
    font-size: 18pt;
    font-weight: 600pt;
}

p{
    font-size: 16pt;
}

@font-face {
    font-family: "TitleFont";
    src: url("../assets/fonts/Mythology\ Of\ Egypt.otf");
}

/* Fix navbar NB NB */
.navbar{
    display: flex;
    flex-wrap: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: rgba(255, 255, 255, 0.605);
    border-radius: 30px;
    margin: 20px;
}


.logoName img{
    width: 400px;
    height: auto;
}

.navLinks{
    display: flex;
    gap: 20px;
}

.navLinks a{
    text-decoration: none;
    color: rgb(54, 54, 54);
    display: flex;
    font-size: 16pt;
    font-family: 'Poppins';
    font-weight: 500;
}

.navLinks a:hover{
    color: #15d5f5;
}

.searchItem{
    background-color: white;
    border: none;
}

.bar{
    border-right: solid #676767 2px;
    margin-right: 5px
}

.search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 55%;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Section 1 hero */
/*TBC adjust #mainhero textposition still*/
#mainHero{
        background-image: url(../assets/img/homeHeader.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: opx;

        display: flex;  
        flex-direction: column;      
        height: 100vh;
        text-align: left;
}

.pageTitle{
    font-family: "TitleFont", sans-serif;
    font-size: 96pt;
    letter-spacing: 2px;
    flex-wrap: wrap;
}

.rightHero{
    display: flex;
    flex-direction: column;
    margin: 60px;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 150px;
}

.rightHero p{
    margin: 0;
    font-family: 'metamorphous', sans-serif;
    font-size: 24pt;
}



#mainHero h1{
    color: #e9ad1c;
}
#mainHero p{
    color: white;
}

/* Section 2 begin your journey */
.begin2{
    background-color: #002d68;
}

.begin2Container{
    display: flex;
    justify-content: space-evenly;
    padding: 60px 80px;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 60px 80px; */
}

#carouselExample, .beginRight{
    width: 40%;
    padding: 10px; 
}


.beginRight{
    display: flex;
    flex-direction: column; 
    justify-content: center;
}

.beginRight h3{
    color: #e9ad1c;
    padding-bottom: 10px;
}

.beginRight h2, .beginRight p{
    color: white;
    padding-bottom: 15px;
}


.toAdoptPageButton{
    border-radius: 10px;
    background-color: #15d5f5;
    border-color:#15d5f5;
    padding: 20px;
}

.toAdoptPageButton {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: larger;
    padding: 30;

}

/* Section 3 the cradle */
/* fix sections by adding div container */

/* not used anymore
 .theCradle3{
    display: flex;
    justify-content: space-between;
    padding: 60px 80px; 
} */

.cradle3Container{
    display: flex;
    justify-content: space-around;
    margin: 60px;
    padding: 50px 80px;
    align-items: center;
}

.rounderImage{
    border-radius: 20px;
}

.cradleTextLeft{
    width: 40%;
    margin-right: 15px;
}

.cradleTextLeft h3{
    color: #15d5f5;
    padding-bottom: 10px;
}

.cradleTextLeft h2{
    color: #2F004E;
    padding-bottom: 10px;
}

.cradleTextLeft p{
    color: #676767;
    padding-bottom: 10px;
}

/* section 4 past adoptions */

.pastAdopt{
    background-color: #002d68;
}

.pastAdoptContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 60px 80px;
    align-items: center;
    text-align: center;
}

.pastAdoptContainer h2{
    color: white;
}

.pastAdoptContainer h3{
    color: #e9ad1c;
}

.pastAdopteeSlots{
    display: flex;
    flex-direction: row;
}

.pastAdoptee{
    margin: 25px;
    color: white;
    width: 267px;
}

.pastAdoptee h3{
    margin-top: 10px;
    color: white;
}

/* footer items */

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px 40px;
    color: #676767;
    /* margin-left: 5%;
    margin-left: 5%; 
    sort out still*/
}

.footerBottomRight{
    display: flex;
    gap: 15px;
}

.footerBottomRight a{
    text-decoration: none;
    color:  #555555;
}