/* General */


/* Fix counter +- layout now and add to cart */




/*colours: darkBlue #002d68 , yellow #e9ad1c , 
lightBlue #15d5f5 , black #000000 , white #ffffff ,
*/





/* Cart Modal */
#cardContainer{
    display: flex;
    flex-direction: column;
    padding: 0 200px;
    align-items: center;
}

.cartCard {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* height: 300px; */
    border: solid 1px rgb(156, 156, 156);
    border-radius: 10px;
    padding: 20px;
    margin: 10px 200px;
    background-color:#002d68;
    width: 1600px;
}

.cartCard img{
    height: 450px;
    width: auto;
    border-radius: 10px;
}

.cardTextContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: flex-start;
    margin-left: 5%;
}

.cartCard h2, .cartCard h3, .cartCard p{
    color: white;
}

.cartCard button {
    background-color: #A28632;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16pt;
    width: 250px;
    height: 60px;
}

.cancelCardButton:hover{
    background-color: #f4c726;
}

.cartCard .adoptNumberCounter{
    background-color: #15d5f5;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#cartModal .btn {
    height: 60px;
    width: 250px;
    font-weight: 600;
    font-size: 16pt;
    border-radius: 10px;
    border: none;
}

#cartModal .btn:hover{
    background-color: #15d5f5;
}

.emptyCartText{
    padding: 50px;
}



/* search in nav */

/* container div is.dropdown, it preps the position of the dropdown content */
.dropdown{
    position: relative;
    display: inline-block;
}

/* dropdown items */
.dropdownContent{
    display: none;
    position: absolute;
    z-index: 1;
    background-color: white;
    width: 200px;
    border: 1px solid #ff9854;
}
.dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
     border: 1px solid #ffc750;
}

.dropdownContent a:hover{
    color: #15d5f5;
}

.show{
    display:block;
}

.searchItem, .dropbtn{
    background-color: white;
    border: none;
}

.bar, .dropbtn{
    border-right: solid #676767 2px;
    margin-right: 5px;
}

.search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 52px; 
    width: auto;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}




body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1,h2,h3, h4, h5, h6 { 
font-family: 'Poppins', sans-serif;
}

h2 {
    font-size: 40pt;
    font-weight: bold;
}

h3{
    font-size: 18pt;
    font-weight: 600pt;
}

p{
    font-size: 16pt;
}

@font-face {
    font-family: "TitleFont";
    src: url("../assets/fonts/Mythology\ Of\ Egypt.otf");
}

.navbar{
    display: flex;
    flex-wrap: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: rgba(255, 255, 255, 0.605);
    border-radius: 40px;
    margin: 20px 100px;
}


.logoName img{
    width: 400px;
    height: auto;
}

.navLinks{
    display: flex;
    gap: 20px;
}

.navLinks a{
    text-decoration: none;
    color: #555555;
    display: flex;
    font-size: 18pt;
    font-family: 'Poppins';
    font-weight: bold;
    font-weight: 600;
}

.currentPageLink{
    color: #15d5f5 !important;
}

.navLinks a:hover{
    color: white;
-webkit-text-stroke-width: 0.7px;
-webkit-text-stroke-color: #002d68;
} 


/* Section 1 hero */
#mainHero{
        background-image: url(../assets/img/homeHeader.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: opx;

        display: flex;  
        flex-direction: column;      
        height: 100vh;
        text-align: left;
}

.pageTitle{
    font-family: "TitleFont", sans-serif;
    font-size: 96pt;
    letter-spacing: 2px;
}

.rightHero{
    display: flex;
    flex-direction: column;
    margin: 200px;
    align-items: flex-end;
    justify-content: flex-end;
    /* margin-top: 150px; */
    margin-top: 20%;
    margin-bottom: 20%;
    text-align: left;
}

.rightHero p{
    font-family: 'metamorphous', sans-serif;
    font-size: 25.25pt;
}



#mainHero h1{
    color: #e9ad1c;
}
#mainHero p{
    color: white;
}

/* Section 2 begin your journey */
.begin2{
    background-color: #002d68;
}

.begin2Container{
    display: flex;
    justify-content: space-evenly;
    padding: 60px 80px;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 60px 80px; */
}

#carouselExample, .beginRight{
    width: 40%;
    padding: 10px; 
}


.beginRight{
    display: flex;
    flex-direction: column; 
    justify-content: center;
}

.beginRight h3{
    color: #e9ad1c;
    padding-bottom: 10px;
}

.beginRight h2, .beginRight p{
    color: white;
    padding-bottom: 15px;
}


.toAdoptPageButton{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: larger;
    padding: 30px;
    width: 300px;
    border-radius: 10px;
    background-color: #15d5f5;
    border-color:#15d5f5;
}

.toAdoptPageButton:hover{
    background-color: #e9ad1c;
}

/* Section 3 the cradle */

.cradle3Container{
    display: flex;
    justify-content: space-around;
    margin: 60px;
    padding: 50px 80px;
    align-items: center;
}

.rounderImage{
    border-radius: 20px;
}

.cradleTextLeft{
    width: 40%;
    margin-right: 15px;
}

.cradleTextLeft h3{
    color: #15d5f5;
    padding-bottom: 10px;
}

.cradleTextLeft h2{
    color: #2F004E;
    padding-bottom: 10px;
}

.cradleTextLeft p{
    color: #676767;
    padding-bottom: 10px;
}

/* section 4 past adoptions */

.pastAdopt{
    background-color: #002d68;
}

.pastAdoptContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 60px 80px;
    align-items: center;
    text-align: center;
}

.pastAdoptContainer h2{
    color: white;
}

.pastAdoptContainer h3{
    color: #e9ad1c;
}

.pastAdopteeSlots{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pastAdoptee{
    /* margin: 25px; */
    margin: 5%;
    color: white;
    width: 267px; 
}


.pastAdoptee h3{
    margin-top: 10px;
    color: white;
}

/* footer items */

footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    padding: 20px 40px;
}

footer h4{
    font-weight: bold;
}

.footerTop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.footerTopLogo{
    display: flex;
    flex-direction: column;
    align-items: self-start;
    text-align: left;
    width: 400px;
    color: #555555;
    gap: 10px;
}

.footerTopLogo img{
    width: 400px;
    height: auto;
}

.footerTopCompany{
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 20px;
    
}
.footerTopCompany a{
    text-decoration: none;
    color: #555555;
    font-size: 16pt;
}

.footerTopCompany a:hover{
    color: #15d5f5;
}

.footerTopSocials{
    display: flex;
    flex-direction: column;
    /* width: 400px;
    height: auto; */
    align-items: self-start;
    gap: 20px;
}

.socialLinks{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
}

.socialLinks img{
    margin: 0px;
    height: 100px;
    width: auto;
    /* width: 40%; 
    height: auto; */
}



.footerLine hr{
    margin-top: 15px;
    margin-bottom: 15px;
}
.footerLine{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-left: 10%;
    margin-right: 10%;
}

.footerBottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footerBottomLeft{
    display: flex;
    justify-content: start;
    align-items: flex-end;
    margin: 0;
    margin-top: 16px;
} 

.footerBottomLeft p{
    font-size: 12pt;
        color: #676767;
}

.footerBottomRight{
    display: flex;
    align-items: center; 
    gap: 15px;
}

.footerBottomRight a, .footerBottomRight p{
    text-decoration: none;
    color: #555555;
    font-size: 12pt;
    font-weight: 500;
}

.footerBottomRight a:hover{
    color: #15d5f5;
}
/* adopt page: */

#mainAdopt{
    background-image: url(../assets/img/adoptHeader.png);
    background-size: cover;
    height: 400px;

    background-position: center;
    background-repeat: no-repeat;
    margin: opx;

    display: flex;  
    flex-direction: column;
    text-align: center;
}

.altPageTitle{
    font-family: 'TitleFont';
    font-weight: 500;
    color: white;
    font-size: 96pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2%
}


.navAndTitle{
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    height: 400px;
}

.adoptIntro{
    background-color: #002d68;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 8%;
    padding-right: 8%;
}

.adoptIntro h2{
    font-family: 'metamorphous';
    color: #e9ad1c;
    margin: 0px;
}

.adoptIntro p{
    margin-bottom: 0px;
    color: white;
    text-align: center;
}

.fixedViewCradleButton{
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: #A28632;
    border: #A28632;
    display: flex;
    justify-content: center;
    align-content: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: larger;
    padding: 25px;
    border-radius: 10px;
    width: 300px;
    z-index: 1;
}

.fixedViewCradleButton:hover{
    background-color: #e9ad1c;
}

.filterBarSection{
    background-color: #e9ad1c;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding-left: 5%;
    padding-right: 5%;
    color: white;
}

.filterBarSection h3{
    font-weight: 500;
}


.filter, .filterBarResultText, .filterBarSort{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.filterBarSort p{
    
    margin: 20px;
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0.681);
    color: #2F004E;
    font-family: 'Poppins';
    font-size: 16pt;
    font-weight: 600;
    border: none;
    cursor: pointer;
    border-radius: 16px;
}

.filterBarSortNumber{
    padding: 20px 30px;
}

.filterBarSortState{
    padding:20px 100px;
    padding-left: 20px;
}

.verticalLine {
  border-left: 3px solid #909090; 
  height: 40px;
  padding: 5px;
}


/* Adoptee section on Adopt page */

/* .adopteeSection, .altAdopteeSection{
    height: 100vh;
} */

.altAdopteeSection{
    background-color: #002d68;
}

.AdopteeSectionContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    padding: 80px 8%;
    gap: 10px;
}

.AdopteeSectionContainer h2{
    margin: 0px;
}

.altAdopteeInfo, .adopteeInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.altAdopteeInfo{
   color: white;
}

 .adopteeImage{
    display: flex;
    align-content: center;
    width: 580px;
    margin-right: 2%;
} 

.adopteeImage img{
    border-radius: 12px;
    width: 580px;
}

.adopteeHorizontalTextGap, .adopteeRating{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
    color: #909090;
}

.adopteeHorizontalTextGap h3{
    font-weight: 500;
}

.altAdopteePrice{
    color: #15d5f5;
}


.adopteeRating h4{
    font-weight: 500;
    font-size: 14pt;
}

.starIcons{
    color: #f4c726;
}

.adopteeDescriptionText{
    font-weight: 500;
}

.lineThroughText{
text-decoration: line-through 2px;
}

.adopteeButtons{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    height: 60px;
}

.toCradleCart, .adoptNumberCounter, .altAdoptNumberCounter{
    display: flex;
    justify-content: center;
    align-items: center; 
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: larger;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    height: 60px;
}

.adoptNumberCounter button, .adoptNumberCounter input, .altAdoptNumberCounter button, .altAdoptNumberCounter input{
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    font-size: larger;
    font-family: 'Poppins';
}

.adoptNumberCounter button:hover, .altAdoptNumberCounter button:hover{
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #ffffff;
    color: #909090; 
}


.adoptNumberCounter input, .altAdoptNumberCounter input{
    width: 20px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


.toCradleCart{
    background-color: #15d5f5;
    border-color:#15d5f5;
    margin: 0px;
}

.toCradleCart:hover{
    color: white;
    background-color: #A28632;
}

.adoptNumberCounter, .altAdoptNumberCounter{
    width: 150px;
    gap: 30px;
    background-color: #002d68;
    border-color:#002d68;
    padding: 20px 10px;
}

.altAdoptNumberCounter{
    background-color: #e9ad1c;
    border-color: #e9ad1c;
}

.adoptNumberCounter p, .altAdoptNumberCounter p{
    padding: 0px;
    margin: 0px;
}

.adopteeLine hr{
    margin-top: 15px;
    margin-bottom: 15px;
}
.adopteeLine{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.adopteeStarterInfo{
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
    font-size: 16pt;
}

.adopteeStarterInfo h4{
    line-height: 2.5;
    font-weight: 500;
    color:#909090;
    margin-bottom: 0px;
}

.adopteeStarterTextLeft{
    margin-right: 40px;
}

.adopteeStarterTextRight{
    margin-left: 20px;
}




/* Contact page: */

#mainContact{
    background-image: url(../assets/img/contactHeader.png);
    background-size: cover;
    height: 400px;

    background-position: center;
    background-repeat: no-repeat;
    margin: opx;

    display: flex;  
    flex-direction: column;
    text-align: center;
}

.aboutContainer, .contactContainer{
    display: flex;
    justify-content: space-around;
    margin: 40px;
    /* padding: 50px 80px; */
    align-items: center;
}

.rounderImage{
    border-radius: 20px;
}

.aboutTextLeft{
    width: 40%;
    margin-right: 15px;
    text-align: left;
}

.aboutTextLeft h3{
    color: #15d5f5;
    padding-bottom: 10px;
}

.aboutTextLeft h2{
    color: #002d68;
    padding-bottom: 10px;
}

.aboutTextLeft p{
    color: #676767;
    padding-bottom: 10px;
}

/* contact page socials, map and form */

.contactSection{
    padding: 60px 40px;
}

/* .contactContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
} */


.contactInfo, .contactForm{
    width: 40%;
    padding: 20px;
}

.contactInfo h3, .aboutTextLeft h3{
    color: #15d5f5;
    font-weight: 500;
}

.contactInfo h3, .contactInfo h2{
    margin: 5px;
}

 .contactInfo h2{
 color: #002d68;
} 

.socialLinks {
    margin-top: 20px;
    margin-bottom: 12%;
}


.contactInfo iframe{
    border-radius: 20px;
}

.contactForm form{
    padding: 20px;
    gap: 10px;
    background-image: url(../assets/img/formBackground.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    margin: opx;
    border-radius: 30px;
    height: 900px;
}

.contactForm h1, label{
    color: white;
}

.formElement{
    width: 100%;
    padding-bottom: 30px;
}

.contactForm input, 
.contactForm select,
.contactForm textarea{
    width: 95%;
    padding: 25px 0;
    padding-left: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: 'Poppins';
    margin-top: 20px;
}

.contactForm button{
    padding:25px 80px;
    margin: 20px;
    margin-left: 10px;
    background-color: #15d5f5;
    color: white;
    font-family: 'Poppins';
    font-size: 16pt;
    font-weight: 600;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

.contactForm button:hover{
    background-color: rgb(16, 179, 179);
}

/* Form pop up thanks styling */
#formThanksModal{
    text-align: center;
}

.thanksOutputContainer{
    background-color: #dff742;
    /* background-color: #16c8e83c; */
    margin: 10px;
    border-radius: 8px;
}

.modal-footer button{
    background-color: #002d68;
}